[user]
    name = Callum Oakley
    email = callum@pusher.com

[push]
    default = current

[alias]
    graph = log --graph --decorate --oneline
    ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[url "https://github.com/"]
    insteadOf = "git@github.com:"

[core]
    pager = less -x1,5
